<div class="account">
    <h1>Account Login</h1>
    <%- messages() %>
    <form action="/account/login">
        <label for="account_email">Email:</label>
        <input type="text" id="account_email" name="account_email" placeholder="example@email.com">
        <label for="account_password">Password:</label>
        <input type="password" id="account_password" name="account_password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p>No account? <a href="/account/registration">Sign-up</a></p>
</div>
<script src="/js/script.js"></script>