<div class="homepage">
    <section class="hero-banner">
        <h2>Welcome to CSE Motors!</h2>
        <div class="cta">
            <div class="cta-content">
                <h3>DMC Delorean</h3>
                <p>3 Cup holders</p>
                <p>Superman Door</p>
                <p>Doors Fuzzy dice!</p>
                <a href="#" class="btn">Own Today</a>
            </div>
        </div>
    </section>

    <section class="reviews" id="reviews"> 
        <h2>DMC Delorean Reviews</h2>
        <ul class="review-list">
            <li>5/5 – "Great Scott! This DeLorean makes you feel like Marty McFly on his first wild ride."</li>
            <li>4/5 – "Hit 88 mph and watch the magic of the flux capacitor light up your journey into the future!"</li>
            <li>5/5 – "Every drive in this car is like stepping into a scene from 'Back to the Future' – iconic and unforgettable."</li>
            <li>4/5 – "With its sleek gull-wing doors, it practically screams, 'Where we're going, we don't need roads!'"</li>
            <li>5/5 – "A timeless classic that blends sci-fi dreams with real-world thrills – the ultimate time machine on wheels!"</li>
        </ul>
        
    </section>

    <section class="parts" id="parts">
        <h2>Delorean upgrades</h2>
        <ul class="parts-list">
            <li>
                <a href="#">
                <div class="img-container">   
                    <img src="/images/upgrades/flux-cap.png" alt="Image of Flux Capacitor">
                </div>
                <p>flux-capacitor</p>     
                </a>
            </li>
            <li>
                <a href="#">
                <div class="img-container">   
                    <img src="/images/upgrades/flame.jpg" alt="Image of a flame decal">
                </div>
                <p>Flame Decals</p>     
                </a>
            </li>
            <li>
                <a href="#">
                <div class="img-container">   
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Image of bumper sticker">
                </div>
                <p>Bumber Stickers</p>     
                </a>
            </li>
            <li>
                <a href="#">
                <div class="img-container">   
                    <img src="/images/upgrades/hub-cap.jpg" alt="Image of hub caps">
                </div>
                <p>Hub Caps</p>     
                </a>
            </li>
        </ul>
    </section>
</div>

