/* ***********************
 * Global
 *************************/
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/images/site/checkerboard.jpg');
}

:root {
  --primary-color: #0c234b;

  --secondary-color: #ffffff;

  --accent-color: #00b8b8;

  --neutral-color: #f5f5f5;

  --text-color: #000000;

  --primary-font: 'Outfit', sans-serif;
}

main {
  padding: 0 1em;
}

#wrapper {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-color);
}

p,
a,
li,
label,
th,
td,
span {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

/* ***********************
 * Header
 *************************/

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 0;
}
.siteName a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: xxx-large;
}

.tools a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--primary-color);
}

/* ***********************
 * Navigation
 *************************/
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1.5rem;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
}

li:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* ***********************
 * Index
 *************************/

/******* Hero banner ***************/
.hero-banner {
  grid-area: hero;
}

.cta {
  width: 100%;
  height: 300px;
  background-image: url('/images/vehicles/delorean.jpg');
  background-repeat: no-repeat;
}

.cta-content {
  background-color: #ffffffd8;
  width: 200px;
  height: auto;
  padding: 1rem;
  color: var(--accent-color);
}

.cta-content p {
  margin: 0;
  font-weight: 500;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  margin-top: 1em;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--text-color);
}

/******* Reviews***************/
.reviews {
  grid-area: reviews;
}
.review-list li {
  margin: 1em 0;
}

/******* Delorean Upgrades***************/
.parts {
  grid-area: parts;
}
.parts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 1rem;
}
.parts-list li {
  text-align: center;
  list-style: none;
}

.img-container {
  background-color: var(--accent-color);
  max-width: 250px;
  height: 100px;
  overflow: hidden;
}

.img-container img {
  padding: 1rem;
}

/* ***********************
 * Inventory Cards
 *************************/
.inventory {
  display: flex;
  flex-direction: column;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

#inv-display li {
  max-width: 300px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  transition: transform 0.3s ease;
}

#inv-display li:hover {
  transform: scale(1.02);
}

#inv-display a {
  text-decoration: none;
  color: var(--primary-color);
}

#inv-display img {
  width: 100%;
  display: block;
}

.namePrice {
  padding: 1rem;
}

.namePrice hr {
  border: none;
  border-top: 1px solid #eee;
  margin-bottom: 1rem;
}

.namePrice h2 {
  margin: 0;
  font-size: 1.2rem;
}

.namePrice span {
  font-size: 1rem;
  color: #333;
}

/* ***********************
 * Inventory Details
 *************************/
.vehicle-container {
  display: grid;
}

.vehicle-container img {
  width: 100%;
  display: block;
  grid-area: 'img';
}

.vehicle-container h2 {
  background-color:#d3d3d349;
  padding: 1rem;
}

.vehicle-info {
  grid-area: 'details';
}

/* ***********************
 * Forms 
 *************************/
.account {
  margin-bottom: 4rem;
}
form {
  background-color: var(--primary-color);
  max-width: 400px;
  margin: 2 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: 600;
  color: #ffffff;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1.5px solid;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

input:required:invalid, input:focus:invalid {
  border-color: #ff0000;
  background-color: #fdebeb;
 }

 input:required:valid {
  border-color: #48ff00;
 }

#passwordHelp {
  background-color: #ffffff;
  display: none; 
  font-size: 0.9rem; 
  color: #000000; 
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
}

#passwordHelp {
  margin-top: 0.3rem;
}

.notice li {
  color: #1fbd00;
}

form p {
  color: var(--secondary-color);
}


@media screen and (min-width: 768px) {
  .nav-ul {
    padding: 0.5em;
  }

  #wrapper {
    max-width: 768px;
    margin: 1em auto;
    padding: 20px;
    border-radius: 1em;
    border-style: outset;
    border-color: var(--accent-color);
  }
  .homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'hero hero'
      'parts reviews';
  }

  #inv-display {
    grid-template-columns: 1fr 1fr;
  }

  .vehicle-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'img details' ;
  }

  .vehicle-info {
    margin-left: 1em;
  }
}
